---
title: "Brilliant Competition Ada Lagi"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition"
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-gray-50
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-gray-50 sm:px-16">
          <table class="w-600 sm:w-full">
            <tr>
              <td class="p-48 sm:py-32 sm:px-24 text-center">
                <a href="https://bcomp.id">
                  <img src="images/bcomp.jpg" width="512" alt="Maizzle" />
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-full px-12 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-full pb-32 sm:w-full sm:inline-block">
                      <table class="w-full">
                        <tr>
                          <td class="p-24 bg-white rounded">
                            <p class="m-0 mb-4 text-sm text-gray-500">2 Feb, 2020</p>
                            <h2 class="m-0 mb-24 text-2xl leading-24">
                              Sit aliqua reprehenderit qui veniam culpa.
                            </h2>
                            <p class="m-0 mb-24 text-base text-gray-800">
                              Ex consequat deserunt id cupidatat exercitation irure commodo. Dolor
                              et est irure elit cupidatat laborum veniam amet eiusmod Lorem ex ea do
                              aliqua. Ipsum Lorem nulla sit aliqua quis veniam magna...
                            </p>
                            <a
                              href="https://example.com"
                              class="text-base text-blue-500 hover:text-blue-400 no-underline"
                              >Read more &rarr;</a
                            >
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="px-48 sm:px-24 text-left">
                <h3 class="m-0 text-base font-semibold text-gray-500 uppercase">
                  From the archives
                </h3>
                <div class="leading-24">&zwnj;</div>
                <table class="w-full">
                  <tr>
                    <td>
                      <h4 class="m-0 mb-4 text-xl font-semibold">
                        <a
                          href="https://example.com"
                          class="text-blue-500 hover:text-blue-400 no-underline"
                          >Lorem velit tempor qui</a
                        >
                      </h4>
                      <p class="m-0 text-gray-500">
                        Aliquip excepteur sint voluptate Lorem nisi deserunt consequat...
                      </p>
                      <table class="w-full">
                        <tr>
                          <td class="py-24">
                            <div class="bg-gray-300 h-px leading-px">&zwnj;</div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="m-0 mb-4 text-xl font-semibold">
                        <a
                          href="https://example.com"
                          class="text-blue-500 hover:text-blue-400 no-underline"
                          >Lorem velit tempor qui</a
                        >
                      </h4>
                      <p class="m-0 text-gray-500">
                        Aliquip excepteur sint voluptate Lorem nisi deserunt consequat...
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
